{% extends 'base.html' %}

{% block content %}
</head>

<body>
    <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home">Priority</a></li>
		<li><a data-toggle="tab" href="#menu1">Ongoing</a></li>
		<li><a data-toggle="tab" href="#menu2">Completed</a></li>
	</ul>

	<div class="tab-content">
  		<div id="home" class="tab-pane fade in active">
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Tyler Wilson</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Joe Zander</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Meghan Jones</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Sam Smith</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">John Dough</a>
			</div>
  		</div>
  		<div id="menu1" class="tab-pane fade">
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Otis Evander</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Marlyn Zanvanna</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Kassy Natalee</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Emery Astra</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Silvester Trevor</a>
			</div>
  		</div>
  		<div id="menu2" class="tab-pane fade">
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Louise Suzan</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Christina Colbert</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Laura Eden</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Erik Brendan</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="text-decoration: none;">Wayne Buck</a>
			</div>
 		 </div>
	</div>
{% endblock %}