{% extends 'base.html' %}

{% block content %}
</head>

<body style="background-color:white; height:100%;">
    <ul class="nav nav-tabs umslBGColor" style="color:white;" >
		<li class="active"><a data-toggle="tab" href="#home"><h3><b>Priority</b></h3></a></li>
		<li><a data-toggle="tab" href="#menu1"><h3><b>Ongoing</b></h3></a></li>
		<li><a data-toggle="tab" href="#menu2"><h3><b>Completed</b></h3></a></li>
	</ul>

	<div class="tab-content" >
		&nbsp;
  		<div id="home" class="tab-pane fade in active">
			<div class="row navRow">
				<a class="student" href="/student" style="color:black; text-decoration: none;">Tyler Wilson</a>
			</div>
			<div class="row navRow">
				<a class="student" href="/student" style="color:black; text-decoration: none;">Joe Zander</a>
			</div>
			<div class="row navRow">
				<a class="student" href="/student" style="color:black; text-decoration: none;">Meghan Jones</a>
			</div>
			<div class="row navRow">
				<a class="student" href="/student" style="color:black; text-decoration: none;">Sam Smith</a>
			</div>
			<div class="row navRow">
				<a class="student" href="/student" style="color:black; text-decoration: none;">John Dough</a>
			</div>
  		</div>
  		<div id="menu1" class="tab-pane fade">
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Otis Evander</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Marlyn Zanvanna</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Kassy Natalee</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Emery Astra</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Silvester Trevor</a>
			</div>
  		</div>
  		<div id="menu2" class="tab-pane fade">
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Louise Suzan</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Christina Colbert</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Laura Eden</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Erik Brendan</a>
			</div>
			<div class="row navRow">
				<a href="/student" style="color:black; text-decoration: none;">Wayne Buck</a>
			</div>
 		 </div>
	</div>
{% endblock %}