{% extends 'base.html' %}

{% block content %}
</head>

<body>
    <div class="row">
        <ul class="nav nav-tabs" id="navHide">
            <li class="navFont"><a data-toggle="tab" href="#home">Priority</a></li>
            <li class="navFont"><a data-toggle="tab" href="#menu1">In Progress</a></li>
            <li class="navFont"><a data-toggle="tab" href="#menu2">Completed</a></li>
        </ul>
    </div>
    <div class="tab-content">
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
	</div>
      <div id="menu1 " class="tab-pane fade ">
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
      </div>
      <div id="menu2 " class="tab-pane fade ">
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
		<div class="row navRow">
			<a href="/student" style="text-decoration: none;">John Doe</a>
		</div>
      </div>
    </div>

{% endblock %}